<h2><%= room.name %></h2>
<div>
  <textarea id='message' cols=40 rows=4></textarea>
  <input type='button' id='send' value='送信'></input>
</div>
<div id='message_area'>
  <table id='message_list'>
    <% comments.forEach(function(comment){ %>
      <tr><td>ID:</td><td><%= comment.id %></td></tr>
      <tr><td>コメント:</td><td><%= comment.message %></td></tr>
    <% }); %>
  </table>
</div>
<script src="/js/jquery.min.js"></script>
<script type='text/javascript'>
$(function(){
  var io = window.io;
  var userId = <%= user.id %>;
  var roomId = <%= room.id %>;
  var connection = io.connect("/comment/", {user_id: userId, room_id: roomId});
  var insertComment = function(params){
    var commentMessage = '<tr><td>ID:</td><td>'+params.id+'</td></tr><tr><td>' + params.message+'</td></tr>';
    $('#message_list').append(commentMessage);
  };
  connection.on('connect', function(s) {
    // 以下の処理はSocket.IOのconnectメッセージ受信後(接続確立後)
    // に行わないと失敗する
    connection.on('comment',function(msg){
      console.log(msg);
      var model = msg['model'];
      console.log(model);
      if(model=='comment') { //commentメッセージ時の処理を追加
        insertComment(msg['data']);
      }
    });
  });
  $('#send').click(function(){//メッセージの送信
    io.socket.post('/comment/create', {user_id: userId, message: $('#message').val(), room_id: roomId}, function(res){
      io.socket.get("/comment/" + res.id + "/", function(comment) {
        insertComment(comment);
      });
    });
    $('#message').val('');
  });
});
</script>